@import '../../variables';

nav {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: $green;
    bottom: 0;
    > ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        height: 100%;
        > li {
            height: 100%;
            flex: 1;
            &:nth-child(1) {
                display: none;
            }
            > a {
                @include flex-center;
                width: 100%;
                height: 100%;
                color: white;
                > span:nth-child(2) {
                    display: none;
                }
            }
        }
    }
}

@media screen and (min-width: 992px) {
    nav {
        position: relative;
        width: 130px;
        background-color: $light-grey;
        min-height: 100vh;
        box-shadow: 5px 5px 20px 5px gray;
        > ul {
            flex-direction: column;
            justify-content: flex-start;
            > li {
                height: 100px;
                flex: unset;
                width: 100%;
                &:nth-child(1) {
                    display: block;
                }
                a {                    
                    flex-direction: column;
                    padding: 15px;
                    height: 100%;
                    width: 100%;
                    color: $grey;
                    text-decoration: none;
                    font-weight: bolder;
                    &.logo {
                        > img {
                            height: auto;
                            width: 100%;
                        }
                    }
                    &:hover:not(.logo), &.active:not(.logo) {
                        color: $blue;
                    }
                    > span:nth-child(2) {
                        display: flex;
                    }
                    > .MuiSvgIcon-root {
                        font-size: 50px;
                    }
                    > .title {
                        @include flex-center;
                        text-align: center;
                        flex-direction: column;
                    }
                }
            }
        }
    }
}