@import '../../variables';
.form-group {
margin-bottom: 12px;
//background-color: rgb(174, 224, 193);
border-collapse: collapse;}

.form-group.flex-50 {
    display: flex;
    justify-content: space-between;
    >.MuiFormControl-root {
        //background-color: rgb(174, 224, 193);
        flex: 1;
        &:first-child {
            margin-right: 5px;
        }
        &:last-child {
            margin-left: 5px;
        }
    }
}