@import '../../variables';

.deleteButton {
    padding: 5px;
    text-align: right;
}

.card {
    padding: 20px;
    .form-group {
        margin-bottom: 10px;
        &:last-child {
            text-align: right;
        }
    }
}
// .border_green {
//     border: 1px solid $green;
//     border-radius: 5px;
// }
// input[type=tel]{
//     border: 1px solid $green;
//     border-radius: 5px;
// }