@import '../../variables';
header {
    height: $header-height;
    // background: aqua;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    font-family: $font-title;
    color: $green;
    font-size: 30px;
    font-weight: bolder;
    > :not(.mobile) {
        display: none;
    }
    .logo {
        height: 70px;
    }
}
// .container_header_nom_logo_deco{
//     display: flex;
//     justify-content: center;
// }
@media screen and (min-width: 992px) {
    header {
        justify-content: flex-end;
        // background-color: black;
        > :not(.mobile) {
            display: block;
        }
        > .mobile {
            display: none;
        }
    }
    .container_header_nom_logo_deco{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    .nom_user_header{

    }
    .logo_deco_header{
        margin-left: 0.5rem;
        color: $green;
        padding: 1rem;
    }
    .logo_deco_header svg{
        // padding: 1rem;
    }
    
}